.picture {
  position: relative;
  color: #ffffff;
}
.image {
  width: 100%;
}
.action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.action:hover {
  background-color: #bdbdbd99;
}
.playIcon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.moreIcon {
  position: absolute;
  right: 10px;
  top: 10px;
}
.title {
  padding-top: 8px;
  color: #555555;
  font-weight: 700;
}
