.track {
  --progress-width: 0;
}
.progress {
  width: var(--progress-width);
}
.thumb {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  top: -5px;
  right: -8px;
}
.input {
  position: absolute;
  width: 100%;
  top: -5px;
  opacity: 0;
}
.track,
.progress {
  position: relative;
  height: 6px;
  border-radius: 3px;
}
.track,
.progress,
.thumb {
  background-color: #fff;
}
